<div class="wrapper wrapper-full-page">
  <div class="page-header login-page header-filter" filter-color="black"
    style="background-image: url('./assets/img/login12.png'); background-size: cover; background-position: top center;">
    <!--   you can change the color of the filter page using:  data-color="blue | purple | green | orange | red | rose " -->
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6 ml-auto mr-auto">
          <div *ngIf="errorSubmita" class="alert alert-rose alert-with-icon" data-notify="container">
            <i class="material-icons" data-notify="icon">warning</i>
            <button mat-button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <i class="material-icons">close</i>
            </button>
            <span data-notify="errorSubmita">{{errorSubmita}}</span>
          </div>
          <form #formLogin="ngForm" (ngSubmit)="onSubmita()">
            <div class="card card-login card-hidden">
              <div class="card-header card-header-loginp text-center">
                <h4 class="card-title">Inicio De Session</h4>
              </div>
              <div class="card-body ">
                <span class="bmd-form-group">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text2">
                        <i class="material-icons">email</i>
                      </span>
                    </div>
                    <input type="correo" #correo="ngModel" name="correo" class="form-control" placeholder="Email"
                      [(ngModel)]="user.correo_USUARIO" required>
                  </div>
                </span>
                <span class="bmd-form-group">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text2">
                        <i class="material-icons">lock_outline</i>
                      </span>
                    </div>
                    <input type="password" #contrasenia="ngModel" name="contrasenia" class="form-control"
                      placeholder="contraseña" [(ngModel)]="user.contra_USUARIO" required>
                  </div>
                </span>
              </div>
              <div class="card-footer justify-content-center">
                <input value="Iniciar" type="submit" class="btn btn-loginp btn-link btn-lg" />
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <footer class="footer ">
      <div class="container">
        <div class="copyright pull-right">
          &copy;
          {{test | date: 'yyyy'}}, made with <i class="material-icons">favorite</i> by
          <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a> for a better web.
        </div>
      </div>
    </footer>
  </div>
</div>